{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="container">
    <form method="POST" action="{% url 'send_newsletter' %}">
        {% csrf_token %}
        <h1>Send out newsletter</h1>



        <div class="formsubject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" aria-describedby="emailHelp"
                placeholder="Enter Subject">
        </div>
        <div class="formsubject">Message </label>
            <textarea type="text" class="form-control" id="message" name="message" aria-describedby="message"
                placeholder="Enter Message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
</div>
{% endblock %}