{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="container new-section-margin">
    <form method="POST" action="{% url 'send_newsletter' %}">
        {% csrf_token %}
        <div class="text-center">
            <h1>Create new newsletter</h1>
        </div>

        <div class="contact-forms">
            <div class="formsubject">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" aria-describedby="emailHelp"
                    placeholder="Enter Subject">
            </div>
            <div class="formsubject">Message </label>
                <textarea type="text" class="form-control" id="message" name="message" aria-describedby="message"
                    placeholder="Enter Message"></textarea>
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-secoundary-color">Send</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}