{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- newsletter signup section -->
<section>
    <div class="container">
        <hr>
        <div class="text-center">
            <h1>Mailing list</h1>
        </div>
        <hr>
        <div class="contact-forms">
            {% if email_list %}
            {% for email in email_list %}
            <div class="row">
                <div class="col-8">
                    <p>{{ email }}</p>
                </div>
                <div class="col-4">
                    <small class="ml-3">
                        <a href="#" class="dark-text" data-toggle="modal" data-target="#modal{{ email.id }}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_mail' email.id %}">Delete</a>
                    </small>
                </div>
            </div>
            {% endfor %}
            {% else %}

            <div class="text-center">
                <h2>No newsletter sign ups</h2>
            </div>
            {% endif %}
        </div>
</section>
<!-- ./newsletter signup section -->

{% for email in email_list %}
<!-- edit email Modal -->
<div class="modal fade" id="modal{{ email.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit user email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'edit_mail' email.id %}" class="form mb-2"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Edit address</label>
                        <input type="email" name="updated-email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="{{ email.email }}" name="updated-email" required>
                        <button type="button" class="btn btn-secondary">Update
                            Email</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-main-color" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}