{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="tt">
    <div class="pp">
        <h1>Terms and Conditions</h1>

        <h2>TERMS & CONDITIONS</h2>

        <p>By placing your order you are agreeing to the terms and conditions set out below. Use of any functionality of
            northyeastbrewing.com constitutes acceptance of the Terms and Conditions.

            Any personal information provided by you is confidential and will not be passed on to any other companies or
            organisations not affiliated with our online business.

            North Yeast Brewing reserves the right to amend these Terms and Conditions without notice at any time. Your
            continued use of this site after changes are posted will constitute your acceptance of the changes to these
            Terms.</p>

        <h2>COOKIES</h2>

        <p> cookie is a small data file stored by your web browser on your computer. It allows us to recognise your
            computer by associating the identification numbers in the cookie with other customer information you have
            provided to us. That customer information is stored on our secured database. We use cookies to keep track of
            what you have in your basket and to remember you when you return to our site. They can also tell us which
            website you came to us from.

            By using our website, you agree that we can place these types of cookies on your device. You can choose to
            accept or decline cookies (most web browsers automatically accept cookies, but you can usually modify your
            browser setting to decline cookies if you prefer). This may however prevent you from using this website.</p>



        <h2>PRIVACY POLICY</h2>

        <p>North Yeast Brewing is committed to protecting the privacy of our site visitors and customers. We will not
            disclose information about our customers to third parties except where it is part of providing a service to
            you - e.g. arranging for a product to be sent to you, carrying out credit and other security checks and for
            the purposes of customer research or where we have your express permission to do so. We will not sell your
            name, address, e-mail address, credit card information or personal information to any third party (excluding
            partners from whom you may have linked to our site) without your expressed permission.

            BrewDog does not collect Personal Information about you, except when you provide it to us. When you submit
            your Personal Information you will be asked to consent to the processing and transfers of your Personal
            Information. If you would prefer that we don’t collect any Personal Information from you, please do not
            provide us with any such information. We will use the Personal Information you provide us only for the
            purposes of processing your orders and responding to any comments or questions you have.

            We may use the information you provide in aggregate (non-personally identifiable) form for internal business
            purposes, such as generating statistics and developing marketing plans. We may collect, store or accumulate
            certain non-personally identifiable information concerning your use of northyeastbrewing.com, such as
            information regarding which of our pages are most popular and general website administration.

            We may also use your information to tell you about our products, promotions and special offers that may be
            of interest to you, by email, mail or by telephone. In particular, we may look at what you have previously
            ordered in an attempt to tell you about promotions that will be of particular interest to you. All customers
            are given the opportunity to opt-out of receiving such further information that they give by contacting
            customer services at northyeastbrewing.com.

            We may disclose any information, including Personal Information, we deem necessary, in our sole discretion,
            to comply with any applicable law, regulation, legal process or governmental request.

            Sensitive information is not sought through this website. Sensitive information includes data relating to:
            race or ethnic origin; political opinions; religious or other similar beliefs; physical or mental health. If
            you do provide sensitive information, by providing that information you explicitly consent to us using it
            for the purposes for which it has been provided.</p>



        <h2>COPYRIGHT AND IP RIGHTS</h2>

        <p>All content included on this website, unless uploaded by Users, including, but not limited to, text,
            graphics, logos, icons, images, sound clips, video clips, data compilations, page layout, underlying code
            and software is the property of North Yeast Brewing, our affiliates or other relevant third parties. By
            continuing to use the Website you acknowledge that such material is protected by applicable United Kingdom
            and International intellectual property and other laws.
            You may not reproduce, copy, distribute, store or in any other fashion re-use material from the Website
            unless otherwise indicated on the Website or unless given express written permission to do so by North Yeast
            Brewing.</p>


        <h2>NOTICE</h2>

        <p>These Terms and Conditions shall be subject to and interpreted in accordance with the laws of England. Our
            failure to enforce a right does not amount to waiver of it.</p>

    </div>
</div>
{% endblock %}