* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    margin-top: 206px;
}


@media only screen and (max-width: 991px) {
    body {
        margin-top: 100px;
    }
}

/* colors */
a {
    text-decoration: none;
    color: #fafafa;
    transition: 0.3s;
}

a:hover {
    color: #F29035;
    text-decoration: none;
}

footer {
    background-color: #142127;
    color: #fafafa;
}

.white-text {
    color: #fafafa !important;

}

/* section background colors */

/* button colors */
.btn-main-color {
    background-color: white;
    color: #142127;
    transition: 0.5s;
}

.btn-main-color:hover {
    background-color: #142127;
    color: #F29035;
}

/* navbar  */

#mobile-logo {
    margin-left: 9em;
}

.nav-bar {
    background-color: #142127;
    color: #fafafa;
}

nav .navbar-nav li a {
    color: white !important;
    transition: ;
}

nav .navbar-nav li a:hover {
    color: #F29035 !important;
    border: solid 2px #fff;
}

@media only screen and (max-width: 500px) {
    #mobile-logo {
        display: none;
    }
}

#middle-nav {
    display: none;
}

.logo {
    height: 80px;
    width: 80px
}

@media only screen and (max-width: 1000px) {
    .logo {
        height: 60px;
        width: 60px
    }
}

/* Hero image section */

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fafafa;
}

.hero-call-to-action {
    max-width: 600px;
}

/* section */

.new-section-margin {
    margin-top: 90px;
}

/* Hero images */
#products-hero-image {
    background-image: url('/media/banner3.png');
    background-size: cover;
    background-position: center;
}

#contact-hero-image {
    background: url('/media/banner-6.png') no-repeat center center;
    background-size: cover;
    color: #fafafa;
    height: 50vh;
}

#story-hero-image {
    background: url('/media/image-3.jpg') no-repeat center center;
    background-size: cover;
    color: #fafafa;
    height: 50vh;
}

#taproom-hero-image {
    background: url('/media/image-4.jpg') no-repeat center center;
    background-size: cover;
    color: #fafafa;
    height: 50vh;
}

/* Index.html */

.hero {
    background-size: cover;
    color: #fafafa;
    height: 50vh;
}

#index-hero-image {
    background: url('/media/banner-1.jpg') no-repeat center center;
    background-size: cover;
    color: #fafafa;
    height: 50vh;
}




/* product details page heros */

.product-hero {
    width: 100%;
    height: 50vh;
    object-fit: cover;

}

.product-overlay {
    width: 30%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Index Features */
.feature {
    height: 500px;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid white;

}

#tap-room-feature {
    background-image: url('/media/index-1.png');
}

#events-feature {
    background-image: url('/media/index-2.png');
}

#beer-feature {
    background-image: url('/media/banner3.png');
}

@media only screen and (max-width: 991px) {

    .feature {
        height: 400px;
        width: 100%;
        border: 2px solid black;
    }

    .feature:nth-child(odd) {
        margin-top: 10px;
    }


}

@media only screen and (max-width: 773px) {
    #feat-row {
        margin: none;
        padding: none;
    }

    .feat-container {
        width: 100%;
    }

    .feature {
        height: 100%;
        width: 100%;
        border: 2px solid black;
        margin: 0;
        padding: 0;
    }

    .feature:nth-child(odd) {
        margin-top: 5px;
    }

    .overlay {
        height: 100%;
        width: 100%;
    }
}

/* Product page */

.card {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: none;
}

.card_descriptive_words h5 {
    margin-left: 8px;

}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* products details page */

.scale-meter {
    height: 20px;
}

.progress {
    width: 100%;
}

.color-scale-marker {
    background-color: grey;
    height: 40Px;
    width: 40px;
    border-radius: 50%;
}

.color-scale-marker-active {
    border: 5px solid black;
}

.brew-sheet-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid black;

}

#brew-sheet-section {
    background-image: url("/static/images/brew.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group {
    margin: 0 auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
}

/* contact page */

/* our story page */

#water-image {
    background: url('/static/images/water1.jpg') no-repeat center center;
    background-size: cover;
    border: 2px soild black;
    height: 10em;
    width: 10em;
}

#grain-image {
    background: url('/static/images/wheat.jpg') no-repeat center center;
    background-size: cover;
    color: #fafafa;
    height: 10em;
    width: 10em;
}

#hop-image {
    background: url('/static/images/brew.png') no-repeat center center;
    background-size: cover;
    color: #fafafa;
    height: 10em;
    width: 10em;
}

/* Taproom page */