{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container">
    <hr>
    <div class="text-center">
        <h1>Manage Bookings</h1>
    </div>
    <hr>
    <div class="contact-forms">
        <div class="row text-center">
            <div class="col-12">
                <h2>Taproom Bookings</h2>
            </div>
        </div>
        <hr>

        {% for booking in taproom %}
        <div class="row">
            <div class="col-2 offset-1">
                <p>{{ booking.name }}</p>
            </div>
            <div class="col-2">
                <p>{{ booking.number_of_people }}</p>
            </div>
            <div class="col-2">
                <p>{{ booking.date }}</p>
            </div>
            <div class="col-2">
                <p>{{ booking.time }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="new-section-margin container">
    <div class="contact-forms">
        <div class="row text-center">
            <div class="col-12 ">
                <h2>Brewery Tour Bookings</h2>
            </div>
        </div>
        <hr>
        {% for booking in brewtour %}
        <div class="row">
            <div class="col-2 offset-1">
                <p>{{ booking.name }}</p>
            </div>
            <div class="col-2">
                <p>{{ booking.number_of_people }}</p>
            </div>
            <div class="col-2">
                <p>{{ booking.date }}</p>
            </div>
            <div class="col-2">
                <p>{{ booking.time }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</section>

{% endblock %}