<!-- large screen bottom navbar -->
<div class="collapse navbar-collapse row" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto w-100">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black text-center" href="{% url 'home' %}"
                aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-center" href="#" id="beer-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Beers
            </a>
            <div class="dropdown-menu border-0 text-center" aria-labelledby="beers-link">
                <a href="{% url 'products' %}" class="dropdown-item">Shop All</a>
                <a href="{% url 'products' %}?style=IPA" class="dropdown-item">IPAs</a>
                <a href="{% url 'products' %}?style=Ale" class="dropdown-item">Ales</a>
                <a href="{% url 'products' %}?style=Stout,Porter" class="dropdown-item">Stouts</a>
                <a href="{% url 'products' %}?style=Larger,Pilsner" class="dropdown-item">Largers</a>
                <a href="{% url 'products' %}?style=Sours" class="dropdown-item">Sours</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-center" href="#" aria-expanded="false">
                Tap Room
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-center" href="#" aria-expanded="false">
                Our Story
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-center" href="{% url 'events' %}" aria-expanded="false">
                Events
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-center" href="{% url 'contact' %}" aria-expanded="false">
                Contact Us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-center" href="#" id="user-options" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                <a href="{% url 'send_newsletter' %}" class="dropdown-item">Create Newsletter</a>
                <a href="{% url 'view_email_list' %}" class="dropdown-item">Newsletter signups</a>
                <a href="{% url 'add_event' %}" class="dropdown-item">Add Events</a>
                <a href="{% url 'messages' %}" class="dropdown-item">View Messages</a>

                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>
<!-- ./large screen bottom navbar -->