{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block hero %}
<!-- hero -->
<section class="mt-10">
    <div class="px-4 py-5 text-center d-flex align-items-end justify-content-center" id="contact-hero-image">
        <div class="overlay hero-call-to-action mb-3 d-none d-md-block">
            <h1 class="display-5 fw-bold">MAKE A BOOKING</h1>
            <div class="col-lg-6 mx-auto">
                <p class="mb-4 d-md-flex d-none">Here at North Yeast Brewing
                    If you would like to come
                    visit us here at North East
                    Brewing, you can book now
                    We Are open 7 days a
                    week so get yourself down</p>
                <a href="{% url 'products' %}" class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-3">
                    <button type="button" class="btn btn-main-color btn-lg px-4 gap-3">Book Now</button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ./hero -->
{% endblock %}

{% block content %}
<!-- Enquiry Section -->
<section class="new-section-margin w-100">
    <div class="container">

        <div class="text-center">
            <h1>Make an Enqiry</h1>
        </div>
        <div class="contact-forms">
            <!-- Contact Form -->
            <form method="POST" action="{% url 'contact' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <button class="btn btn-primary btn-lg px-4 gap-3" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ./Enquiry Section -->

<!-- Contact info Section -->
<section>
    <div class="container-fluid new-section-margin dark-background-color py-5">
        <div class="row">
            <div class="col-md-5 offset-md-1 col-12">
                <div class="info-content">
                    <ul>
                        <h2>OPENING HOURS</h2>
                        <li>Monday 12:00PM - 11:00PM</li>
                        <li>Tuesday 12:00PM - 11:00PM</li>
                        <li>Wednesday 12:00PM - 11:00PM </li>
                        <li>Thursday 12:00PM - 11:00PM</li>
                        <li>Friday 12:00PM - 12:00PM</li>
                        <li>Saturday 12:00PM - 12:00PM</li>
                        <li>Sunday 12:00PM - 12:00PM</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-5 offset-md-1 col-sm-12">
                <div class="info-content">
                    <ul>
                        <h2>CONTACT</h2>
                        <li><a href="tel:075959522823"><i class="fas fa-phone"></i>07595922823</a></li>
                        <li><a href="mailto:northyeastbrewing@gmail.com"><i class="fas fa-envelope-square"></i>
                                <Northyeastbrewing@gmail class="com">Northyeastbrewing@gmail
                            </a></li>
                        <li class="d.flex">
                            <div>
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div>76 Sandringham Road, <br>Gosforth, <br>Newcastle<br>
                                NE3 1QB
                            </div>
                        </li>
                        <li><a href="https://www.facebook.com"><i
                                    class="fab fa-facebook-square"></i>NorthYeastBrewing</a></li>
                        <li><a href="https://www.twitter.com"><i
                                    class="fab fa-twitter-square"></i>#northyeastbrewing</a></li>
                        <li><a href="https://www.youtube.com"><i class="fab fa-youtube-square"></i>northyeastbrewing</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ./Contact info Section -->

<!-- Find Us Section -->

<section class="container-fluid new-section-margin">
    <div class="findus-content">
        <div class="text-center">
            <h1>FIND US</h1>
        </div>
        <div>
            <div class="gmap_canvas"><iframe width="100%" height="400px" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=76%20sandrimham%20road%20&t=&z=11&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                    href="https://embedgooglemap.net/124/">director</a></div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 400px;
                    width: 100%;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 400px;
                    width: 100%;
                }
            </style>
        </div>
    </div>
</section>
<!-- ./Find Us Section -->
{% endblock %}