{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block hero %}
<!-- hero -->
<section class="mt-10">
    <div class="px-4 py-5 text-center d-flex align-items-end justify-content-center hero" id="products-hero-image">
        <div class="overlay hero-call-to-action mb-3 d-none d-md-block">
            <h1 class="display-5 fw-bold">The Taproom!</h1>
            <div class="col-lg-6 mx-auto">
                <p class="mb-4 d-md-flex d-none">Check out our range of craft beer in the Taproom.
                    All our bottles and cans are available to
                    take away and theres 9 taps to choose from.
                    Ecommerce and home delivery coming soon</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-3">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./hero -->
{% endblock %}

{% block content %}
<section class="container-fluid new-section-margin ">
    <div class="row text-center">
        {% for product in products %}
        <div class="col-xl-3 col-lg-4 col-md-6  d-flex justify-content-center">
            <div class="card mb-5" style="width: 18rem;">
                <img src="{{ product.image_url }}" class="card-img-top" alt="Drink of a {{ product.product_name }}">
                <div class="card-body">
                    <h4 class="card-title">{{ product.product_name }}</h4>
                    <div class="row d-flex justify-content-center card_descriptive_words">
                        {% for adjective in product.descriptive_words %}
                        <h5 class="descritive_product_words">{{ adjective }}.</h5>
                        {% endfor %}
                    </div>
                    <p class="card-text">{{ product.product_price }}</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}